*{
    -fx-primarycolor:#74CCDB;
}


.primary-text{
    -fx-fill:#74CCDB;
    -fx-font-weight:bold;
}

.secondarytext{
    -fx-fill:#74CCDB;
    -fx-opacity:0.5;
}

#progress .track{
        -fx-background-color:null;
        -fx-background-insets: 1 0 -1 0, 0, 1;
        -fx-background-radius: 2.5, 2.5, 1.5;
        -fx-padding: 0.208333em;
        -fx-pref-height:20;
}

#progress .thumb{
     -fx-background-color:none;
     -fx-pref-width:2;
     -fx-pref-height:10
}


#progress:hover .thumb{
     -fx-background-color:#74CCDB;

}

#volume .track{

        -fx-background-color:null;
        -fx-background-insets: 1 0 -1 0, 0, 1;
        -fx-background-radius: 2.5, 2.5, 1.5;
        -fx-padding: 0.208333em;
}

#volume .thumb{
    -fx-background-color:white;
    -fx-pref-height:8;
}


#pb1 .bar{
    -fx-background-color: #74CCDB;
    -fx-background-radius:0.0;
     -fx-border-radius:0.0;
     -fx-background-insets: 0 0 0 0;
    -fx-padding: 0.1em;

}

#pb2 .bar{
    -fx-background-color: #74CCDB;
    -fx-background-radius:0.0;
     -fx-border-radius:0.0;
     -fx-background-insets: 0 0 0 0;
    -fx-padding: 0.1em;

}


.progressLine{
    -fx-stroke: #FFFFFF;
    -fx-opacity:0.1;
}

#progressBackground{
    -fx-fill:#2F2F2F;

}

.song-info{
    -overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.mute-button{
    -icon-paint: white;
    -fx-background-color: -icon-paint;
    -size: 15;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
}

.mute-button:hover {
    -icon-paint: -fx-primarycolor;
}
.icon-button {
     -icon-paint: white;
     -fx-background-color: -icon-paint;
     -size: 14, 18;
     -fx-min-height: -size;
     -fx-min-width: -size;
     -fx-max-height: -size;
     -fx-max-width: -size;
}

 .icon-button:hover {
     -icon-paint: -fx-primarycolor;
     -size: 16, 20;
 }

.play-button {
    -icon-paint: white;
    -fx-background-color: -icon-paint;
    -size: 45;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
 }

.play-button:hover {
    -icon-paint: -fx-primarycolor;
    -size: 47;
}

.basictxt{
       -fx-fill:#fff;
}

.playlistHeadline{
     -fx-fill:#fff;
     -fx-font-size: 35px;

}