*{
    -fx-primarycolor:#74CCDB;
}


.primary-text{
    -fx-fill:#74CCDB;
    -fx-font-weight:bold;
}

.secondarytext{
    -fx-fill:#74CCDB;
    -fx-opacity:0.5;
}

#progress .track{
        -fx-background-color:null;
        -fx-background-insets: 1 0 -1 0, 0, 1;
        -fx-background-radius: 2.5, 2.5, 1.5;
        -fx-padding: 0.208333em;
        -fx-pref-height:20;
}

#progress .thumb{
     -fx-background-color:none;
     -fx-pref-width:2;
     -fx-pref-height:10
}


#progress:hover .thumb{
     -fx-background-color:#74CCDB;

}

#volume .track{

        -fx-background-color:null;
        -fx-background-insets: 1 0 -1 0, 0, 1;
        -fx-background-radius: 2.5, 2.5, 1.5;
        -fx-padding: 0.208333em;
}

#volume .thumb{
    -fx-background-color:white;
    -fx-pref-height:8;
}


#pb1 .bar{
    -fx-background-color: #74CCDB;
    -fx-background-radius:0.0;
     -fx-border-radius:0.0;
     -fx-background-insets: 0 0 0 0;
    -fx-padding: 0.1em;

}

#pb2 .bar{
    -fx-background-color: #74CCDB;
    -fx-background-radius:0.0;
     -fx-border-radius:0.0;
     -fx-background-insets: 0 0 0 0;
    -fx-padding: 0.1em;

}


.progressLine{
    -fx-stroke: #FFFFFF;
    -fx-opacity:0.1;
}

#progressBackground{
    -fx-fill:#2F2F2F;

}

.song-info{
    -overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.mute-button{
    -icon-paint: white;
    -fx-background-color: -icon-paint;
    -size: 15;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
}

.mute-button:hover {
    -icon-paint: -fx-primarycolor;
}
.icon-button {
     -icon-paint: white;
     -fx-background-color: -icon-paint;
     -size: 14, 18;
     -fx-min-height: -size;
     -fx-min-width: -size;
     -fx-max-height: -size;
     -fx-max-width: -size;
}

 .icon-button:hover {
     -icon-paint: -fx-primarycolor;
     -size: 16, 20;
 }

.notActive-button{
     -icon-paint: white;
     -fx-background-color: -icon-paint;
     -size: 14, 18;
     -fx-min-height: -size;
     -fx-min-width: -size;
     -fx-max-height: -size;
     -fx-max-width: -size;
}
.notActive-button:hover {
     -icon-paint: -fx-primarycolor;
     -size: 14, 18;
 }

.active-button{
     -icon-paint: -fx-primarycolor;
     -fx-background-color: -icon-paint;
     -size: 14, 18;
     -fx-min-height: -size;
     -fx-min-width: -size;
     -fx-max-height: -size;
     -fx-max-width: -size;


}
.play-button {
    -icon-paint: white;
    -fx-background-color: -icon-paint;
    -size: 45;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
 }
.back-button{
    -icon-paint: white;
         -fx-background-color: -icon-paint;
         -size: 20, 60;
         -fx-min-height: 30;
         -fx-min-width: -size;
         -fx-max-height: -size;
         -fx-max-width: -size;
}



.play-button:hover {
    -icon-paint: -fx-primarycolor;
    -size: 47;
}

.basictxt{
       -fx-fill:#fff;
}

.playlistHeadline{
     -fx-fill:#fff;
     -fx-font-size: 35px;

}
.playlistname  {
    -fx-background-color: transparent;
    -fx-font-size: 24px;
    -fx-text-fill: white;
    -fx-background-insets: 0 0 0 0, 0 0 0 0, 0 0 0 0;
}

.playlistname:focused {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-color: #2F2F2F;
    -fx-background-insets: 0 0 0 0, 0 0 0 0, 0 0 0 0;
    -fx-cursor: text;
}



.radio-button {

    -fx-label-padding: 0.0em 0.0em 0.0em 0.416667em; /* 0 0 0 5 */

    -fx-text-fill: white;

}
.radio-button:selected {

    -fx-label-padding: 0.0em 0.0em 0.0em 0.416667em; /* 0 0 0 5 */

    -fx-text-fill: -fx-primarycolor;

}
.radio-button:hover {

    -fx-label-padding: 0.0em 0.0em 0.0em 0.416667em; /* 0 0 0 5 */

    -fx-text-fill: -fx-primarycolor;

}

.radio-button > .radio,

.radio-button:focused > .radio  {

-fx-background-color: transparent;

   -fx-background-radius: 1.0em; /* large value to make sure this remains circular */

   -fx-padding: 0.333333em; /* 4 -- padding from outside edge to the inner black dot */



}

.radio-button > .radio > .dot {

   -fx-background-color: transparent;

   -fx-background-radius: 1.0em; /* large value to make sure this remains circular */

   -fx-padding: 0.333333em; /* 4 -- radius of the inner black dot when selected */

   -fx-text-fill: white;
}

.minmax  {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-background-insets: 0 0 0 0, 0 0 0 0, 0 0 0 0;
}

.minmax:focused {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-color: #2F2F2F;

    -fx-background-insets: 0 0 0 0, 0 0 0 0, 0 0 0 0;
    -fx-cursor: text;
}
.minmax:readonly {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-background-insets: 0 0 0 0, 0 0 0 0, 0 0 0 0;
}

.create{
    -fx-border-radius : 40px;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-color: white;
}

.create:hover{

    -fx-background-color: transparent;
    -fx-text-fill: -fx-primarycolor;

}

.cancel{
    -fx-border-radius : 40px;
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-text-fill: white;
}


.cancel:hover{

    -fx-background-color: transparent;
    -fx-text-fill: orangered;

}