.list-cell:even, .list-cell:odd {
        -fx-text-fill:#fff;
        -fx-font-weight:normal;
        -fx-background-color:rgba(0, 0, 0, 0);
        -fx-padding:10 0 10 0;
}

.list-cell:even:hover, .list-cell:odd:hover {
        -fx-text-fill:#74CCDB;
}

.list-cell:even:selected, .list-cell:odd:selected {
        -fx-text-fill:#74CCDB;
}

.headline{
        -fx-fill:rgba(255, 255, 255, 0.5);
   }
.headline:hover{
        -fx-fill:rgba(255, 255, 255);
 }


.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
   -fx-background-color: transparent;
}


.table-view .column-header-background, .table-view .filler, .table-view .column-header{
    -fx-background-color: transparent;

}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
     -fx-text-fill:rgba(255, 255, 255, 0.5);
      -fx-alignment: CENTER-LEFT;
       -fx-font-weight:normal;
}

.table-view:row-selection{
    -fx-border-width: 0 0 0 0;
    -fx-background-color:rgba(0, 0, 0, 0);

}

.table-column{
       -fx-border-width: 0 0 0 0;
       -fx-padding: 12 0 12 0;

}

.table-row-cell .text{
-fx-fill: #fff;
}


.table-row-cell{
    -fx-border-width: 0 0 0.1 0;
    -fx-border-color: white;
    -fx-background-color:rgba(0, 0, 0, 0);
}

.table-row-cell:selected .text, .table-row-cell:hover .text{
 -fx-fill: #74CCDB;
}

